* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
};

img {
  position: absolute;
  top: 0;
  margin-left: 23px;
  opacity: 0.1;
  z-index: -1;
};

input {
  width: 100px;
};